<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" data-target="#loyal" aria-expanded="true" aria-controls="collapseOne">
    <i class="fa fa-heart" aria-hidden="true"></i>
    Loyal Customers
  </a>
</li>
<div id="loyal" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="#duration">Duration</label>
        <input id="duration" type="text" class="form-control" placeholder="Specify minimum number of years">
      </div>
      <div class="form-group">
        <label for="#orders">Orders</label>
        <input id="orders" type="text" class="form-control" placeholder="Specify minimum number of orders">
      </div>
      <button type="submit" class="btn btn-primary">Show</button>
    </form>
  </div>
</div>