
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target="#target" aria-expanded="false" aria-controls="collapseOne">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          Remove Branch:
        </a>
      </li>
      <div id="target" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
    <form>
  
      <label for="country">Branch Name</label>
      <select id="branch" name="branch">
        <option value="Adidas1">Adidas1</option>
        <option value="Adidas2">Adidas2</option>
        <option value="Adidas3">Adidas3</option>
      </select>
    
      <input  class="btn btn-primary" type="submit" value="Remove">
    </form>
  </div>
</div>
 