<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-users" aria-hidden="true"></i>
              Current Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              Potential Customers
            </a>
          </li>
          <div id="accordion">
            <app-target-segment></app-target-segment>
            <app-loyal-customers></app-loyal-customers>
          </div>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    </main>
  </div>
</div>