<app-navbar></app-navbar>
<main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
  <div class="my-4 w-100" id="mapid" width="900" height="380"></div>
</main>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="list-group-item">
            <a class="nav-link" (click)="onClick1()">
              <i class="fa fa-users" aria-hidden="true"></i>
              Current Customers
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" (click)="onClick()">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              Potential Customers
            </a>
          </li>
          <li id="accordion">
            <app-target-segment class="list-group-item"></app-target-segment>
          </li>
          <li id="accordion2">
            <app-loyal-customers class="list-group-item"></app-loyal-customers>
          </li>
          <div id="accordion3">
            <li class="list-group-item">
              <a class="nav-link" data-toggle="collapse" data-target="#add" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Add customer:
              </a>
            </li>
            <div id="add" class="collapse" aria-labelledby="headingOne" data-parent="#accordion3">
              <div class="card-body">
                <form>
                  <a class="nav-link" href="/main/customer/addcustomer">
                    <button class="circle btn btn-secondary btn-outline-primary" (click)='onSubmit(f)' routerLink='/main/customer/addcustomer'>
                      <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                    </button>
                  </a>
                
                    <button class="circle btn btn-secondary btn-outline-primary" (click)='onSubmit(f)' routerLink='/main/customer/removecustomer'>
                      <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                    </button>
                  
                </form>
              </div>
            </div>
          </div>
          <li class="list-group-item">
            <a class="nav-link" href="#">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>