<app-main></app-main>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Best Location for:-
            </a>
          </li>
          <form>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label title="{{expansionType.name}}" *ngFor='let expansionType of expansionTypes' class="circle btn btn-secondary btn-outline-primary">
                  <input [value]="expansionType.id" type="radio" autocomplete="off">
                  <i class="fa fa-{{expansionType.class}}" aria-hidden="true"></i>
                </label>
              </div>
            </div>
          </form>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#selectMethod" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-bullseye" aria-hidden="true"></i>
              Select Location
            </a>
          </li>
          <form>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label title="{{selectionType.name}}" *ngFor='let selectionType of selectionTypes' class="circle btn btn-secondary btn-outline-primary">
                  <input [value]="selectionType.id" type="radio" autocomplete="off">
                  <i class="fa fa-{{selectionType.class}}" aria-hidden="true"></i>
                </label>
              </div>
            </div>
          </form>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Add:
            </a>
          </li>
          <form>
            <div class="form-group">
              <div>
                <input type="text" id="Fname" name="name" [ngModel]="br?.name" #brName="ngModel" placeholder="Enter the name:">
                </div>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label title="{{addexpansion.name}}" *ngFor='let addexpansion of addexpansions' class="circle btn btn-secondary btn-outline-primary">
                    <input [value]="addexpansion.id" type="radio" autocomplete="off">
                    <i class="fa fa-{{addexpansion.class}}" aria-hidden="true"></i>
                  </label>
                </div>
            </div>
          </form>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    </main>
  </div>
</div>