<app-navbar></app-navbar>
<router-outlet></router-outlet>
<main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
  <app-brmap></app-brmap>
</main>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img id="adidasicon" src="../../../assets/adidas-icon.png"> Adidas

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main/branches/add">
              <button class="circle btn btn-secondary btn-outline-primary" (click)='onSubmit(f)' routerLink='/main/branches/add.component'>


                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
              </button>
            </a>
            <a class="nav-link" href="/main/branches/remove">
              <button class="circle btn btn-secondary btn-outline-primary" (click)='onSubmit(f)' routerLink='/main/branches/remove/remove'>
                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
              </button>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-secret" aria-hidden="true"></i>
              Competitor Branches
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#target" aria-expanded="false" aria-controls="collapseOne">
              <i class="fa fa-bullseye" aria-hidden="true"></i>
              Overlap Areas
            </a>
          </li>
          <div id="target" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

              <div class="form-group">
                <label for="overlapAreas">Overlap Areas</label>
                <div id="overlapareas" class="form-check">
                  <div *ngFor="let overlaparea of overlapareas">

                    <label class="form-check-label">
                      <input class="form-check-input" [value]="overlaparea.id" type="checkbox">
                      <img id="adidasicon" src="../../../assets/adidas-icon.png"> {{ overlaparea.name }}
                    </label>
                    <!--   <label class="form-check-label">
                  
                <input class="form-check-input"  type="checkbox" >
                <i class="fa fa-user-secret" aria-hidden="true"></i>Competitor Branches
              </label> -->
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="accordion" id="accordionExample">
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Weak Point Analysis
              </a>
            </li>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="btn-group-toggle" data-toggle="buttons">


                  <label class="circle btn btn-secondary btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off">
                    <i class="fa fa-object-group" aria-hidden="true"></i>

                  </label>


                  <label class="circle btn btn-secondary btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off">
                    <i class="fa fa-object-ungroup" aria-hidden="true"></i>

                  </label>


                  <label class="circle btn btn-secondary btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>

                  </label>

                  <label class="circle btn btn-secondary btn-outline-primary">

                    <input type="checkbox" checked autocomplete="off">
                    <i class="fa fa-users" aria-hidden="true"></i>

                  </label>

                  <label class="circle btn btn-secondary btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off">
                    <i class="fa fa-star-o" aria-hidden="true"></i>

                  </label>
                </div>
              </div>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Dashboard
            </a>
          </li>


        </ul>


      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    </main>
  </div>
</div>