<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Adidas
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Competitor Branches
              </a>
            </li>
            
              <div class="accordion" id="accordionExample">
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span data-feather="target"></span>
                          Weak Point Analysis
                        </a>
                      </li>
                  
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <label>
                        <input type="checkbox"  data-feather="star">Rating
                      </label>
                      <label>
                        <input type="checkbox"  data-feather="layers">Overlap with Branches
                      </label>
                      <label>
                        <input type="checkbox"  data-feather="layers">Overlap with Branches
                      </label>
                      <label>
                        <input type="checkbox"  data-feather="target">Target Segment
                      </label>
                      <label>
                        <input type="checkbox"  data-feather="shopping-bag">Complemntray Product
                      </label>
                        

          
                    
                    </div>
                  </div>
                </div>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Dashboard
              </a>
            </li>
            
          
          </ul>
  
         
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      </main>
    </div>
  </div>
