<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" data-target="#target" aria-expanded="false" aria-controls="collapseOne">
    <i class="fa fa-bullseye" aria-hidden="true"></i>
    Target Segment
  </a>
</li>
<div id="target" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="19:30">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <div id="gender" class="btn-group-toggle" data-toggle="buttons">
          <label *ngFor="let gender of genderTypes" (click)="change(gender)" class="circle btn btn-secondary btn-outline-primary">
            <input class="form-check-input"  [value]="gender.id" type="checkbox" autocomplete="off">
            <i class="fa fa-{{gender.class}}" aria-hidden="true"></i>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="educationLevel">Education Level</label>
        <div id="educationLevel" class="form-check">
          <div *ngFor="let eduLevel of eduLevels">
            <label class="form-check-label">
              <input class="form-check-input" (change)="change(eduLevel)" [value]="eduLevel.id" type="checkbox" autocomplete="off"> {{ eduLevel.name }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="incomeLevel">Income Level</label>
        <div id="incomeLevel" class="form-check">
          <div *ngFor="let incomeLevel of incomeLevels">
            <label class="form-check-label">
              <input class="form-check-input" (change)="change(incomeLevel)" [value]="incomeLevel.id" type="checkbox" autocomplete="off"> {{ incomeLevel.name }}
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>