    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target="#add" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
          Add Branch:
        </a>
      </li>
      <div id="add" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
     <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onAddSubmit(f)">
      <label for="bname">Branch Name</label>
      <input ng-model="name" type="text" id="fname" name="name" [ngModel]="name" #brName="ngModel" placeholder="Your Branch name..">
      <br/>
      <label for="lname">Branch Code</label>
      <input type="text" id="code" name="branch_code" [ngModel]="code" #brCode="ngModel" placeholder="Your Branch Code..">
      <br/>
      <label for="lname">City</label>
      <input type="text" id="city" name="city" [ngModel]="city" #brCity="ngModel" placeholder="Your Branch City..">
      <br/>
      <label for="lname">Branch Location</label>
      <input type="text" id="lname" name="branch_location" [ngModel]="location" #brLocation="ngModel" placeholder="Your Branch Location..">            
      <input class="btn btn-primary" type="submit" value="Add">
    </form>
  </div>
</div>
 