<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="main">Geomarketing</a>
  <ul class="navbar-nav px-3"></ul>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="main/customer">Customers</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="main/expansion">Expansion</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="main/branches">Branches</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="main/ads">Advertisments</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>